body {
    .font(@line-height: @baseLineHeight;);
    height: 100%;
}

a:link,
a:visited {
    color: @baseFontColor;
}

a:hover {
    cursor: pointer;
}

a.anchor {
    text-decoration: none !important;
}

.agenda-item {
    // border: 1px solid transparent;
    width: @gridSize - @margin + 2px !important;
    margin: @margin / 2 - 1px;
    padding: @margin / 2 - 1px !important;
}

div:target,
.agenda-item:hover {
    // border: 1px solid rgb(27, 95, 170);
    // background-color: #fff;
    background: @blue;
    color: #fff !important;
    border-color: #fff;

    * {color : #fff !important;}
}

.event-core {
    // color: crimson !important;
    border-left: 3px solid @blue;
    padding-left: @margin / 2;
}

.event-extra {
    // color: coral !important;
    border-left: 7px double @blue;
    padding-left: @margin / 2;
}

.event-title {
    font-weight: bold;
}

p {
    padding-bottom: @margin / 2;
}

h1.title {
    .font(@weight: @bold; @size: @HeaderH - 3.2;);
    width: 100%;
    display: block;
    @media @portrait-s {
        // .font(@family:"LMMono10"; @size:175%;);
        // padding-bottom: @margin;
    }
}

.margin-header {
    display: flex;
    align-items: center;
    border-bottom: 3px solid @blue;

    .index-header, a {
        display: flex;
    }

    img {
        height: @HeaderH - 4.2;
    }
}

.margin-header {
    .absolute(@bottom: initial;);
    .font(@line-height: @HeaderH;);
    height: @HeaderH;
    vertical-align: middle;
    padding-left: @margin;
}

.margin-left {
    .absolute(@right: initial; @top: @HeaderH;);
    width: @HeaderH; // padding: @margin;
    // background-color: red;
}

.main {
    .absolute(@top: @HeaderH;);
    position: relative;
    width: 100%;
    min-height: calc(~"100vh - @{HeaderH}");
    background-color: #fff;
    // background-image: url('images/grid.svg');
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: top;
    padding-bottom: @HeaderH;

    @media only screen and (orientation: portrait) {
        background-image: none;
        border-top: 2px solid @blue;
    }
}

.book img {
    width: 100%;
    border: 0.5px solid @blue;
}
//
// .main > div {
//     @media (min-width: 250px) {width: 100%};
//     @media (min-width: 500px) {width: 50%};
//     @media (min-width: 750px) {width: 30%};
//     @media (min-width: 1000px) {width: 25%};
//     @media (min-width: 1250px) {width: 20%};
// }

.main > div {
    @media (min-width: 250px)   {width: calc(~"100vw")};
    @media (min-width: 500px)   {width: calc(~"100vw / 2 - 10px")};
    @media (min-width: 750px)   {width: calc(~"100vw / 3 - 9px")};
    @media (min-width: 1000px)  {width: calc(~"100vw / 4 - 8px")};
    @media (min-width: 1250px)  {width: calc(~"100vw / 5 - 8px")};
}

.text {
    width: @gridSize;
    padding: @margin;
    display: inline-block;
    vertical-align: top; // background-color: #ccc;

    h2 {
        .font(@size: 125%;);
        padding-bottom: @margin;
        text-transform: uppercase;
    }

    li {
        margin-bottom: @margin / 2;
    }

    &.agenda li {
        margin-bottom: @margin;

        &.legend .event-core { margin-bottom: @margin / 3;}
    }

    &.newsletter {
        width: @gridSize; // height: @gridSize;

        input,
        label {
            .font();
            width: 200px;
        }

        input {
            box-sizing: border-box;
            width: calc(~"@{gridSize} - @{margin} * 2");
            vertical-align: middle;
            margin-top: @margin / 4;
            margin-bottom: @margin / 2;
            cursor: text;
            padding: @margin / 4;
            border: 1px solid @baseFontColor;
            background-color: transparent;

            &[type=email] {
                cursor: text;
            }

            &[type=submit] {
                cursor: pointer;
                background-color: @blue;
                color: #fff;
                border: 0;
                margin-top: @margin;
                width: 150px;
            }

            &[placeholder="*"] {
                color: red;
            }
        }

        #mc_embed_signup div.mce_inline_error {
            margin: 0 0 1em;
            padding: 5px 10px;
            font-weight: normal;
            background-color: transparent;
            z-index: 1;
            color: @blue + 50%;
        }
    }

    &.waend-wrapper {
        margin-top: @HeaderH;
        position: relative;
        width: initial;
        @media (max-width: @xsmall) {
            display: none;
        }

        .iframe-content {
            width: calc(~"100vw - @{HeaderH} - 2 * @{margin}");
            height: calc(~"(100vw - @{HeaderH} - 2 * @{margin}) * 0.6");
            min-width: @gridSize * 2;
            min-height: (@gridSize * 2 - 2 * @margin) * 0.6;
            max-width: @gridSize * 4 - 2 * @margin;
            max-height: (@gridSize * 4 - 2 * @margin) * 0.6;
        }

        .link-waend {
            display: block;
            text-align: center;
            font-size: 75%;
        }
    }
}
